<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
  <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HarderBranchMining"/>
  <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.bootstrap.ForgeBootstrap"/>
  <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=REGISTRIES -Djava.net.preferIPv6Addresses=system"/>
  <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--launchTarget forge_userdev_data --assetIndex 17 --assetsDir C:\Users\Mac\.gradle\caches\forge_gradle\assets --gameDir . --mod harderbranchmining --all --output C:\Workspaces\Minecraft\Forge\1.21.1\HarderBranchMining\HarderBranchMining\src\generated\resources --existing C:\Workspaces\Minecraft\Forge\1.21.1\HarderBranchMining\HarderBranchMining\src\main\resources"/>
  <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Workspaces\Minecraft\Forge\1.21.1\HarderBranchMining\HarderBranchMining\run-data"/>
  <mapAttribute key="org.eclipse.debug.core.environmentVariables">
    <mapEntry key="MOD_CLASSES" value="C:\Workspaces\Minecraft\Forge\1.21.1\HarderBranchMining\HarderBranchMining\bin\main;C:\Workspaces\Minecraft\Forge\1.21.1\HarderBranchMining\HarderBranchMining\bin\main"/>
    <mapEntry key="MCP_MAPPINGS" value="official_1.21.1"/>
  </mapAttribute>
</launchConfiguration>
